.result-line {
  display: flex;
  background-color: #001c59;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px 0 200px 165px;

}

.title-pro{
  margin: 150px 0 -50px 0;
  position: relative;
  left: 165px;
}

.title-pro2{
  margin: 150px 0 -120px 0;
  position: relative;
  right: 900px;
}

#img{
  width: 1000px;
  height: 450px;
}

.main-sec {
  background-color: #ccd1e5;
  height: 95vh;
}

.image {
  width: 50px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin-top: 20px;
}

.result-line > div {
  margin: 50px 0 0 215px;
}

/* Navbar */
header {
  position: sticky;
  /* position: relative; */
  height: 75px;
  background-color: #ccd1e5;
}

.li {
  display: inline-block;
  padding: 0 30px 0 30px;
  cursor: pointer;
  color: #001c59;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

#ul {
  position: absolute;
  right: 450px;
  top: 15px;
  list-style: none;
  color: black;
}



a {
  text-decoration: none;
  color: #001c59;
}

#logo{
  position: relative;
  top: -55px;
  left: 30px;
  width: 200px;
  height: 200px;
  z-index: 99999;
}

.button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  background-color: #ff416c;
  border-radius: 15px;
  padding: 8px 12px 8px 12px;

  color: white;
  border: 2px solid #ff416c;
  border-color: transparent;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: #ff416c;
  border: 2px solid #ff416c;
}

.contact-button {
  position: absolute;
  right: 50px;
  top: 10px;
  padding: 15px 15px 15px 15px;
}

.main-sec{
  margin-top: -23px;
}

.main-headders {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
  color: #001c59;
}

.headders {
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headders > h4{
  margin: 60px 0 0 0;
}

.main-sec > img {
  width: 1000px;
  height: 460px;
  position: relative;
  left: 250px;
}

.span {
  color: #ff416c;
}

.project-images {
  width: 300px;
  border-radius: 7px;
  margin-bottom: 30px;

}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #8d8d8d;
}

.btn-group{
  display: flex;
}

.btn-git{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #001c59;
  border: 3px solid #001c59;
  margin-left: 20px;
  border-radius: 25px;
  background-color: transparent;
  /* font-size: 30px; */
}

.btn-git > i{
  font-size: 30px;
  margin: 1px 2px 0 -4px;
  color: #001c59;
}

.txt-span{
  position: relative;
  top: -5px;
}

.txt{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size:20px;
  color: white;
  margin-left: -25px;
}

.txt-1 > h1:nth-child(1){
  margin: 10px 0 0 45px;

}

.txt-1 > h1:nth-child(2){
    margin: 0 0 0 45px;

}

.txt-1 > h4{
  margin: 10px 0 0 0;
}

.txt-2 > h1:nth-child(1){
  margin: 10px 0 0 45px;

}

.txt-2 > h1:nth-child(2){
    margin: 0 0 0 40px;

}

.txt-2 > h4{
  margin: 10px 0 0 -30px;
}

.txt-3 > h1:nth-child(1){
  margin: 10px 0 0 25px;
  font-size: 35px;

}

.txt-3 > h1:nth-child(2){
    margin: 10px 0 10px 40px;
    font-size: 35px;
}

.txt-3 > h4{
  margin: 10px 0 60px -30px;
}

.footer{
  margin-top: 50px;
  height: 60px;
  background-color: #1a1919;
}

.footer > div{
  margin-left: 30px;
  padding-top: 15px;
}

.footer > div > a{
  margin-left: 15px;
}

/* card */
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
    border: 2px solid black;
    margin-bottom: 80px;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
  letter-spacing: 1px;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  /* background-image: linear-gradient(45deg, #7c9885, #b5b682); */
  min-height: 100vh;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 60px;
  margin-bottom: 30px;
}

 .article-wrapper{
 }

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }

  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
    
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}




