.result-line {
  display: flex;
  background-color: #001c59;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.main-sec {
  background-color: #ccd1e5;
  height: 100vh;
}

.image {
  background-color: white;
  border-radius: 50%;
}

.result-line > div {
  margin: 50px 0 0 215px;
}
