html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}



.main-section {
  background-image: url("../../images/Main\ image.png");
  background-size: 950px 1100px;
  background-position: 110%;
  background-repeat: no-repeat;
  position: relative;
  background-color: #ccd1e5;
  width: 100%;
  height: 95vh;
}

/* ::-webkit-scrollbar {
  margin: 5px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 8px;
} */

#article {
  position: absolute;
  left: 200px;
  top: 200px;
}

#myName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 60px;
  letter-spacing: -4px;
  margin: 20px 0 20px 0;
}

#mainImage {
  position: absolute;
  right: 100px;
  width: 50vw;
  bottom: 0px;
  box-shadow: 100px black;
}

#projects {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

#introduce {
  margin: 150px 0 0 200px;
  position: relative;
  display: flex;
  justify-content: space-around;
}


/* Header Section and NavBar =========================================================================================================== */

header {
  /* position: fixed; */
  width: 100%;
  height: 100px;
  top: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccd1e5;
  padding: 28px 12%;
  /* transition: all .50s ease; */
}

.navbar {
  display: flex;
}

.navbar a {
  /* color: #ff416c; */
  font-size: 1.1rem;
  padding: 5px o;
  margin: 0 30px;
  /* transition: all .50s ease; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.navbar a:hover {
  color: #ff416c;
}

.active {
  color: #ff416c;
}

.main {
  display: flex;
  align-items: center;
}

.main button {
  margin-right: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  background-color: #ff416c;
  border-radius: 15px;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  color: white;
  border: 2px solid #ff416c;
  border-color: transparent;
}

.sub-title {
  margin-bottom: 20px;
}

.paragraph {
  margin-bottom: 15px;
}

.h2-tag {
  margin: 20px 0 20px 0;
}

h5 {
  margin-top: 20px;
}

#projects>div>p {
  margin-bottom: 20px;
}

#menu-icon {
  font-size: 35px;
  color: #001c59;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}

@media(max-width:1280px) {
  header {
    padding: 14px 2%;
    /* transition: .2s; */
  }

  .navbar a {
    padding: 5px 0px;
    margin: 0px 20px;
  }
}

@media(max-width:1090px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 11%;
    right: 2%;
    width: 270px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 20000000;
    background-color: whitesmoke;
    /* border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px; */
    border-radius: 35px;
    visibility: hidden;
    /* transition: all .50s ease; */
  }

  .navbar-active {
    visibility: visible;
    /* transition: all .50s ease; */
  }

  .navbar li {
    text-align: center;
  }

  .main button {
    font-size: small;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    background-color: #ff416c;
    border-radius: 35px;
    /* padding: 8px 12px 8px 12px; */
    cursor: pointer;
    color: white;
    border: 2px solid #ff416c;
    border-color: transparent;
  }
}

/* ================================================================================================================================ */

.logo-container {
  /* margin-left: 80px; */
  width: 20%;
  display: flex;
  align-items: center;
}

.logo {
  /* margin-left: 80px; */
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}

.span-logo {
  font-size: 50px;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ff416c;
}

.li {
  display: inline-block;
  padding: 0 30px 0 30px;
  cursor: pointer;
  color: #001c59;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #8d8d8d;
}

.main-headders {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
  color: #001c59;
}

.project-images {
  width: 350px;
  height: 170px;
  border-radius: 7px;
}

.span {
  color: #ff416c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ul {
  /* position: absolute;
  right: 500px;
  top: 15px; */
  list-style: none;
  color: black;
}

.button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  background-color: #ff416c;
  border-radius: 15px;
  padding: 8px 12px 8px 12px;

  color: white;
  border: 2px solid #ff416c;
  border-color: transparent;
}

.contact-button {
  margin-right: 50px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: #ff416c;
  border: 2px solid #ff416c;
}

.hire-btn {
  width: 100px;
  height: 40px;
}

#about-image {
  height: 500px;
  width: 400px;
  background-image: url(../../images/About\ image.png);
  background-position: 65%;
  background-size: 550px 650px;
  background-repeat: no-repeat;
  background-color: #ccd1e5;
  border-radius: 10px;
}

#intro-article {
  margin-left: 0px;
  margin-top: 10px;
  width: 650px;
}

.headders {
  margin: 125px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headders>h3 {
  margin-bottom: 0px;
}

.headders>h2 {
  margin-bottom: 0px;
}

.form-sec {
  position: relative;
  background-color: #ccd1e5;
  width: 98.9vw;
}

.message {
  margin-left: 17px;
  width: 1035px;
}

.subject {
  height: 30px;
}

.submit-button {
  margin-left: 20px;
  border-radius: 15px;
  width: 120px;
}

form {
  width: 1090px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  left: 13%;
}

.form {
  display: flex;
  margin: 20px;
}

.input-1 {
  width: 500px;
}

.first-input {
  margin-right: 25px;
}

a {
  text-decoration: none;
  color: #001c59;
}

.min-contact {
  color: black;
  font-weight: bold;
}

.mail {
  margin-top: 100px;
}

#min-contactt {
  margin-top: 40px;
}

.slider-container {
  position: relative;
  left: 300px;
  width: 900px;
  overflow: hidden;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-container {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.btn.prev {
  left: 10px;
}

.btn.next {
  right: 10px;
}

.btn:hover {
  opacity: 1;
}

.image-container>img {
  width: 900px;
  height: 500px;
}

.back-btn {
  width: 98.9vw;
  height: 50px;
  border: none;
  color: white;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.footer-sec {
  display: flex;
  margin-top: -19px;
  background-color: #02185a;
}

.address1 {
  margin-left: 220px;
  margin-top: 30px;
  width: 50%;
}

.address1>h3 {
  color: #ff416c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}

.address1>p {
  width: 400px;
}

.social-icons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.social-icons>div {
  padding-right: 20px;
}

.social-img {
  width: 45px;
}

.address2 {
  margin: 30px;
  margin-left: -160px;
}

.address2>h3 {
  color: #ff416c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
}

.a {
  color: #8d8d8d;
}

.address-icons {
  display: flex;
  margin-top: 25px;
}

.address-icons>p {
  margin-left: 20px;
}

.address-icons>img {
  width: 35px;
  height: 35px;
}

.about-btn {
  margin-top: 15px;
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
}

.name-my {
  color: #02185a;
  font-weight: bold;
}

.show-btn {
  position: relative;
  left: 115px;
  top: 15px;
}

/* #pre-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #001c59;
  z-index: 9999;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  margin: auto;
} */

/* #pre-loader > img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
} */

/* #logo {
  position: relative;
  top: 5px;
  left: 10px;
  width: 20%;
  height: auto;
} */

/* ////////////////////////////////////// */

.skills {
  display: flex;
}

.wrapper {
  width: 400px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.skill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}

.skill>p {
  font-size: 18px;
  font-weight: 700;
  color: #1a1716;
  margin: 0;
}

.skill:before {
  width: 100%;
  height: 15px;
  border-radius: 15px;
  content: "";
  display: block;
  position: absolute;
  background: #CCD1E5;
  bottom: 0;
}

.skill-bar {
  width: 100%;
  height: 15px;
  background: #001C59;
  border-radius: 15px;
  display: block;
  position: relative;
}

.skill-bar span {
  position: absolute;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.skill-1 {
  margin-left: 220px;
}

.skill-2 {
  margin-left: 0;
}

.skill-bar {
  position: relative;
}

.skill1 .skill-count1 {
  padding-top: 10px;
  right: 0;
}

.skill1 {
  width: 85%;
}

.skill2 {
  width: 80%;
}

.skill2 .skill-count2 {
  padding-top: 10px;
  right: 0;
}

.skill3 {
  width: 75%;
}

.skill3 .skill-count3 {
  padding-top: 10px;
  right: 0;
}

.skill4 .skill-count4 {
  padding-top: 10px;
  right: 0;
}

.skill4 {
  width: 75%;
}

.skill5 .skill-count5 {
  padding-top: 10px;
  right: 0;
}

.skill5 {
  width: 95%;
}

.skill6 .skill-count6 {
  padding-top: 10px;
  right: 0;
}

.skill6 {
  width: 70%;
}

.skill7 .skill-count7 {
  padding-top: 10px;
  right: 0;
}

.skill7 {
  width: 55%;
}

/* ////////////////////////////////////// */
@media (max-width: 380px) {
  #projects {
    flex-direction: column;
    margin-left: 35px;
  }

  .contact-btn {
    visibility: hidden;
  }

  .project-images {
    width: 300PX;
  }

  .main-section {
    background-image: none;
  }

  .skills {
    flex-direction: column;
  }

  .skill-1 {
    margin-left: 30px;
  }

  .skill-2 {
    margin-left: 30px;
  }

  .skill:before {
    width: 75%;

  }

  .skill-bar {
    width: 75%;

  }

  .skill1 {
    width: 65%;
  }

  .skill2 {
    width: 55%;
  }

  .skill3,
  .skill4 {
    width: 50%;
  }

  .skill5 {
    width: 70%;
  }

  .skill6 {
    width: 45%;
  }

  .skill7 {
    width: 40%;
  }

  #article {
    left: 20px;
    top: 70px;
  }

  #introduce {
    flex-direction: column;
    margin: 50PX 0 0 0;
  }

  .show-btn {
    left: 35px;
    top: 30px;
  }

  #intro-article {
    margin-left: 35px;
    width: 310px;

  }

  #about-image {
    height: 480px;
    width: 300px;
    margin-left: 35px;
  }

  .footer-sec {
    flex-direction: column;

  }

  .address2 {
    margin-left: 40px;
  }

  .address1 {
    margin: 80px 0 0 40px;
  }

  .address1>p {
    width: 300px;
  }

  .form {
    flex-direction: column;
  }

  .input-1 {
    height: 28px;
    margin: 0 0 40px 0px;
    width: 280px;
  }

  form {
    margin: -30px;
    width: 300px;
  }

  .message {
    width: 280px;
  }

  .subject {
    margin-top: -55px;
  }

  .back-btn {
    position: relative;
    top: 30px;
  }

  .main-headders {
    font-size: 15px;
    letter-spacing: -0.5px;
  }

  .h2-tag {

    font-size: 20px;
  }

  .slider-container {
    left: 20px;
    width: 325px;
    height: 270px;
  }

  #myName {
    font-size: 50px;
    margin: 40px 0 40px 0;
  }

  .hire-btn {
    margin-top: 30px;
  }
}